:root {
  --main-bg-color: #edf5fe;
  --light-blue: #03a9f4;
  --border-color: #0288d147;
}

.dashboard-container,
.upload-container,
.file-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-container {
  margin-top: 10px;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #00000017;
}

.file-uploader {
  display: block;
  min-height: 100px;
  border-radius: 10px;
}

.drop-zone,
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drop-zone {
  padding: 30px;
  width: 80%;
  min-height: 200px;
}
.icon-container {
  position: relative;
  width: 75px;
  height: 100px;
}
.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}
.icon-container .center {
  z-index: 2;
}
.icon-container .rigth,
.icon-container .left {
  filter: grayscale(0.5);
}

.dragged .icon-container .rigth {
  transform: rotate(10deg) translateX(20px) scale(0.9);
}
.dragged .icon-container .left {
  transform: rotate(-10deg) translateX(-20px) scale(0.9);
}
.dragged .icon-container .center {
  transform: translateY(-10px);
}
.dragged {
  background-color: #333;
  border-radius: 25px;
  opacity: 0.5;
}

.uploaded-file-name {
  color: var(--light-blue);
  font-weight: bold;
}

.show-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  gap: 10px;
  background: whitesmoke;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #00000017;
}

.file-card {
  position: relative;
  width: 250px;
  height: 200px;
  background: linear-gradient(to left, #03a9f4, #7ad7f0);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 20px 20px 0px #00000017;
}

.layer {
  display: flex;
  justify-content: center;
  align-items: self-start;
  gap: 30px;
  z-index: 1;
  position: absolute;
  top: calc(100% - 2px);
  height: 100%;
  width: 100%;
  background: linear-gradient(to left, #f5fcff, #7ad7f0);
  transition: all 0.5s;
}
.file-card:hover {
  color: #fff;
  transform: scale(1.1);
  background-color: var(--light-blue);
}
.file-card:hover .layer {
  top: 50%;
}
.file-name {
  margin: 10px;
}

.upload-btn {
  margin-top: 20px;
  background-color: var(--light-blue);
  border: none;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}
.upload-btn {
  margin-bottom: 25px;
}

.delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: larger;
  color: tomato;
}
.delete-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonDownload {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background-color: var(--light-blue);
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
}

.buttonDownload:hover {
  background-color: #333;
  color: white;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;

  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;

  animation: downloadArrow 2s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: var(--light-blue);
}

.buttonDownload:hover:after {
  border-top-color: var(--light-blue);
  animation-play-state: running;
}
.buttonShare {
  border: none;
  background: transparent;
  font-size: 1rem;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
  /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .file-uploader {
    width: 80%;
    padding: 5px;
  }
  .upload-container {
    width: 90%;
    margin: 50px;
  }
}
