:root {
  --main-bg-color: #edf5fe;
  --light-blue: #03a9f4;
  --border-color: #0288d147;
}

.dashboard-container,
.upload-container,
.file-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-container {
  margin-top: 10px;
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #00000017;
}

.file-uploader {
  display: block;
  min-height: 100px;
  border-radius: 10px;
}

.drop-zone,
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drop-zone {
  padding: 10px;
  width: 90%;
  min-height: 200px;
}
.icon-container {
  position: relative;
  width: 75px;
  height: 100px;
}
.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 250ms ease-in-out;
}
.icon-container .center {
  z-index: 2;
}
.icon-container .rigth,
.icon-container .left {
  filter: grayscale(0.5);
}

.dragged .icon-container .rigth {
  transform: rotate(10deg) translateX(20px) scale(0.9);
}
.dragged .icon-container .left {
  transform: rotate(-10deg) translateX(-20px) scale(0.9);
}
.dragged .icon-container .center {
  transform: translateY(-10px);
}
.dragged {
  background-color: #b7e5f8;
  border-radius: 25px;
  opacity: 0.5;
}

.uploaded-file-name {
  color: var(--light-blue);
  font-weight: bold;
}

.show-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  gap: 10px;
  background: whitesmoke;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #00000017;
}

.upload-btn {
  margin-top: 20px;
  background-color: var(--light-blue);
  border: none;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}
.upload-btn {
  margin-bottom: 25px;
}

.progress-container{
   height: 75px;
   width: 90%;
   margin-bottom: 20px;
}

.bg-progress{
  background-color: #7ad7f0;
  height: 75px;
  line-height:75px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}



@media screen and (max-width: 600px) {
  .file-uploader {
    width: 80%;
    padding: 5px;
  }
  .upload-container {
    width: 90%;
    margin: 50px;
  }
}
