:root {
  --main-bg-color: #edf5fe;
  --light-blue: #03a9f4;
  --border-color: #0288d147;
  --container-width: 500px;
}

body {
  font-family: system-ui;
  background: var(--main-bg-color);
}

.navbar {
  margin: 10px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-name {
  font-weight: bold;
  font-size: 0.8rem;
}

.logout {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
  border-radius: 20px;
}
